<!-- views/partials/footer.ejs -->
<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
<footer class="footer">
    <div class="container">

        <p>© 2020 Amanda Claproth<br> Project2 @ General Assembly</p>
    </div>
</footer>