<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- views/partials/nav.ejs -->
<div class="header-container">
    <h1>
        What's My Kid Playing?!?
    </h1>
</div>
<div class="nav-container">
    <a href="/games">All Games</a> &nbsp; &nbsp; &nbsp;
    <% if (user) { %>
        <a href="/games/new">Add a Game</a> &nbsp; &nbsp; &nbsp;
        <a href="/logout">Log Out</a>
        <% } else { %>
            <a href="/auth/google">Login with Google</a>
            <% } %>
</div>