<link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- views/partials/nav.ejs -->
<div class="header-container">
    <h1>
        What's My Kid Playing?!?
    </h1>
</div>
<div class="nav-container">
    <div id="right"><input id="searchbar" onkeyup="search_game()" type="text" name="search" placeholder="Search games.."></div>
    <div id="left">
        <a href="/games/new">Add a Game</a> &nbsp; &nbsp; | <a href="/games">All Games</a>| &nbsp; &nbsp;
        <% if (user) { %>
            <a href="/logout">Log Out</a>

            <% } else { %>

                <a href="/auth/google">Login with Google</a>

                <% } %>

    </div>
</div>