<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <h2> Welcome to </h2>
        <h1> Should My Kid Play That?!? </h1>
        <h4>The place where you can find information about the games your child plays, leave reviews for other parents, and more.
        </h4>
        <ul>
            <li>
                <% if (user) { %>
                    <button>
                    <a href="/logout"></i>Log Out</a></button>
                    <% } else { %>
                        <button>
                        <a href="/auth/google"></i>Login with Google</a></button>
                        <% } %>
                            &nbsp; &nbsp; | &nbsp; &nbsp;
                            <% if (user) { %>
                                <button><a href="/games">Back to Games</button></a>
                                <% } else { %>
                                    <button><a href="/games">Proceed without Login</button></a>
                                    <% } %>
            </li>
        </ul>

    </div>

</body>

</html>

</html>